<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AMOS_V4.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AMOS_V4.Properties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AMOS_V4.Settings>
            <setting name="LastOpenFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastOpenImagePath" serializeAs="String">
                <value />
            </setting>
        </AMOS_V4.Settings>
        <AMOS_V4.Properties>
            <setting name="OpenFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenImagePath" serializeAs="String">
                <value />
            </setting>
        </AMOS_V4.Properties>
    </userSettings>
</configuration>